*,
*:after,
*:before{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  color: $color-secondary;
  background-color: rgba(203, 203, 210, 0.1);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em; // Currently ems cause chrome bug misinterpreting rems on body element
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
}