@import "colors";
//Dropdown menu
.dropdown{
  display: inline-block;
  .dropdown-button{

  }
  .dropdown-content{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: visibility 0s linear 0.1s, opacity 0.1s linear;
  }
  &:hover .dropdown-content{
    visibility: visible;
    z-index: 3;
    opacity: 1;
    transition-delay: 0s;
  }
}

//Collapse
//Note; The collapse must be radio or checkbox
.collapse{
  display: none !important;
}

.collapse+label{
  cursor: pointer;
}

.collapse + label + *{
  display: none;
}

.collapse:checked + label + *{
  display: block;
}

//Sidebar
.sidebar{
  width: 250px;
  height: 100vh;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  transform: translateX(-105%);
  transition: transform .3s;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,.14)
}
.sidebar.active{
  transform: translateX(0);
}

.overlay{
  display: none;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.overlay.active{
  display: block;
}

//tab
.tab-container{
  position: relative;
}
.tab{
  display: inline-block;
  & > label{
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 0;
  }
  & > .tab-content{
    display: none;
    position: absolute;
    top: 33px;
    left: 0;
    overflow-y: auto;
    height: 85%;
  }
  & > input{
    display: none;
  }
  & > input:checked + label{
    color: $color-primary;
    border-bottom: 3px solid $color-primary;
  }
  & > input:checked + label + .tab-content{
    display: block;
  }
}