@import "colors";
// Custom Checkbox
//--------------------
.checkbox label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  border: 1px solid $color-quaternary;
  border-radius: 3px;
  background-color: $color-initial;
  //-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  //-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  top: 4px;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 4px;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  //color: #555555;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba($color-primary, 0.25);
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
  color: $color-initial;
  background: no-repeat 50%/50% 50%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  cursor: not-allowed;
}

.checkbox input[type="checkbox"]:checked + label::before {
  background-color: $color-primary;
  border-color: $color-primary;
}

// Custom radio
//-------------------------------

.radio label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 5px;
}

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  border: 1px solid $color-quaternary;
  border-radius: 50%;
  background-color: $color-initial;
  //-webkit-transition: border 0.15s ease-in-out;
  //-o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
  top: 4px;
}

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  left: 3px;
  top: 7px;
  margin-left: -20px;
  border-radius: 50%;
  //background-color: #555555;
  //-webkit-transform: scale(0, 0);
  //-ms-transform: scale(0, 0);
  //-o-transform: scale(0, 0);
  transform: scale(0, 0);
  //-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  //-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  //-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.radio input[type="radio"]:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba($color-primary, 0.25);
}

.radio input[type="radio"]:checked + label::after {
  //-webkit-transform: scale(1, 1);
  //-ms-transform: scale(1, 1);
  //-o-transform: scale(1, 1);
  transform: scale(1, 1);
  background-color: $color-primary;
}

.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

.radio-primary input[type="radio"] + label::after {
  background-color: $color-primary;
}

.radio input[type="radio"]:checked + label::before {
  border-color: $color-primary;
}

.radio-primary input[type="radio"]:checked + label::after {
  background-color: $color-primary;
}